[submodule "string-calculator"]
	path = string-calculator
	url = git@github.com:swakswak/string-calculator.git
	branch = main
[submodule "dependency-injection-toy"]
	path = dependency-injection-toy
	url = git@github.com:swakswak/dependency-injection-toy.git
[submodule "email-filter"]
	path = email-filter
	url = git@github.com:swakswak/email-filter.git
